<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center">Back</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>Create Event</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">Create</a>
		</div>
	</div>
</div>



<div data-role="content">
	<form method="post">
		<div class="form-section">
			<div class="p-5">
					<input type="text" name="eventname" id="eventname" value="" placeholder="Event Name">
						<input type="date" name="date" id="date">
						<input type="time" name="time" id="time">
			</div>
		</div>

		<div class="form-section">
			<div class="info-box center">
				<h1>Location</h1>
				<p>Select where the event is going to take place</p>
			</div>
			<div class="p-5">
				<div class="ui-input">
					<i class="ss-search"></i>
						<input type="text" name="search" id="search" value="" placeholder="Search">
					<ul class="results">
					<li><a>Search Result #1</a></li>
					<li><a>Search Result #2</a></li>
					<li><a>Search Result #3</a></li>
					</ul>
					</div>
				</div>
		</div>


		<div class="form-section">
			<div class="info-box center">
				<h1>Rewards</h1>
				<p>Add a reward so your partner can select that one he finds most interesting</p>
			</div>
			<div class="p-5">
				<input type="text" name="reward1" id="reward1" value="" placeholder="reward #1">
					<input type="text" name="reward2" id="reward2" value="" placeholder="reward #2">
					<input type="text" name="reward3" id="reward3" value="" placeholder="reward #3">
							</div>
		</div>


		<div class="form-section">
			<div class="info-box center">
				<h1>Is this a regular weekly event?</h1>
				<p>Does your partner have to make it once or multiple times in a row to get their reward?</p>
			</div>
			<div class="p-5 p-b-0"> 
				<div class="ui-input">
					<select class="full-btn">
						<option>Once</option>
						<option>Twice</option>
						<option>Three Times</option>
						<option>Four Times</option>
					</select>
					<i class="ss-navigatedown"></i>
				</div>	
			</div>
		</div>

	</form>
</div><!-- /content -->