<div class="navbar">
    <div class="r p-4">
        <div class="xf-22 xf-o-13 inline-center">
            <h1>Held Up</h1>
        </div>
        <div class="xf-13 inline-right">
            <a href="#createevent" class="head-btn inline-center">Create</a>
        </div>
    </div>
</div>
<div data-role="content" class="dashboard">
<div class="header-footer r">
    <a class="xf-24 active">
    Your Events <span class="bullet">4</span>   
    </a>
    <a class="xf-24">
    Parner’s Events
    </a>
</div>
<div class="feed">

<div class="item white-bg rounded red-bg">
    <div class="container">
        <div class="r border-down">
            <div class="table p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label red">Alert</div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-5 border-down">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <p>28 Dec 8:30 PM</p>
                <p>12:01 PM</p>
                <p>Reward: Björk Tickets</p>
            </div>
            <div class="p-4">
                <div class="error-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-alert"></i>
                        </div>
                        <h1>New Event Location</h1>
                        <p>18 Entwood Ave Coolum Beach</p>
                    </div>
                </div>
            </div>
            <div class="p-4">
                <div class="error-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-alert"></i>
                        </div>
                        <h1>New Event Time</h1>
                        <p>18.00 AM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center accept-btn">Accept</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center view-btn">Show Map</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center reject-btn">Reject</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded grey-bg">
    <div class="container">
        <div class="r border-down">
            <div class="p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label grey">Idle</div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <p>28 Dec 8:30 PM</p>
                <p>12:01 PM</p>
                <p>Reward: Björk Tickets</p>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Your Partner has accapted</h1>
                        <p>Please wait until the fun starts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center edit-btn">Edit</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center delete-btn">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded red-bg">
    <div class="container">
        <div class="r border-down">
            <div class="table p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label red">Alert</div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-5">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <p>28 Dec 8:30 PM</p>
                <p>12:01 PM</p>
                <p>Reward: Björk Tickets</p>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Ready for the reward?</h1>
                        <p>Did your partner make it in time?</p>
                    </div>
                </div>
            </div>
            <div class="p-4 p-t-0">
                <div class="error-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-alert"></i>
                        </div>
                        <h1>Heldup Message</h1>
                        <p>I got stuck in the traffic sorry babe, hope you understand</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center ontime-btn">Yes</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center heldup-btn">No</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded grey-bg">
    <div class="container">
        <div class="r border-down">
            <div class="table p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label grey">Pending</div>
            </div>
        </div>
        <div class="r table border-down">
            <div class="p-5">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <div class="">
                    <p>28 Dec 8:30 PM</p>
                    <p>12:01 PM</p>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Are you sure?</h1>
                        <p>Let's hope your partner agree</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="reward p-2">
                <label for="1">Black Forrest Gateaux</label>
                <label for="2">Massage With Happy Ending</label>
                <label for="3">Bottle Of Absolute</label>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center edit-btn">Edit</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center delete-btn">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded grey-bg">
    <div class="container">
        <div class="r border-down">
            <div class="table p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label grey">Pending</div>
            </div>
        </div>
        <div class="r table border-down">
            <div class="p-5">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <div class="">
                    <p>28 Dec 8:30 PM</p>
                    <p>12:01 PM</p>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Are you sure?</h1>
                        <p>Let's hope your partner agree</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="reward p-2">
                <label for="1">Black Forrest Gateaux</label>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center cancel-btn">Redo</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded grey-bg">
    <div class="container">
        <div class="r border-down">
            <div class="p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label grey">Active</div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <p>28 Dec 8:30 PM</p>
                <p>12:01 PM</p>
                <p>Reward: Björk Tickets</p>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Ready for the reward?</h1>
                        <p>Did your partner make it in time?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center edit-btn">Show Map</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center delete-btn">Held Up</a>
            </div>
        </div>
    </div>
</div>

<div class="item white-bg rounded grey-bg">
    <div class="container">
        <div class="r border-down">
            <div class="table p-5">
                <h1>Coffee & Cake Morning Tea Date</h1>
                <div class="label grey">Reward</div>
            </div>
        </div>
        <div class="r table border-down">
            <div class="p-5">
                <img class="img-round" src="http://www.therundown.tv/wp-content/icons/djkhaled_112407.jpg">
                <div class="">
                    <p>28 Dec 8:30 PM</p>
                    <p>12:01 PM</p>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="p-4">
                <div class="info-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-info"></i>
                        </div>
                        <h1>Select reward</h1>
                        <p>What are you willing to gain from this?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="r border-down">
            <div class="radio p-2">
                <input id="reward-{{id}}-1" type="radio" name="reward-{{id}}" value="1" checked>
                <label for="reward-{{id}}-1">Black Forrest Gateaux</label>
                <input id="reward-{{id}}-2" type="radio" name="reward-{{id}}" value="2">
                <label for="reward-{{id}}-2">Massage With Happy Ending</label>
                <input id="reward-{{id}}-3" type="radio" name="reward-{{id}}" value="3">
                <label for="reward-{{id}}-3">Bottle Of Absolute</label>
            </div>
        </div>
        <div class="r p-5">
            <div class="x-15">
                <a class="std-btn inline-center accept-btn">Accept</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center suggest-btn">Suggest</a>
            </div>
            <div class="x-15">
                <a class="std-btn inline-center reject-btn">Reject</a>
            </div>
        </div>
    </div>
</div>