<div data-role="content">
    <div class="feed">
        <div class="item white-bg rounded red-bg">
            <div class="container">
                <div class="info-box p-4 center">
                    <h1>Create a event now</h1>
                    <p>Get ready to enjoy your game</a></p>
                    <div class="m-5 m-b-0">
                        <a class="full-btn inline-center center-hack" href="#createevent">Create Event</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>