<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center back">Back</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>Edit Event</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">Update</a>
		</div>
	</div>
</div>

<div data-role="content">
	<form method="post">
		<div class="form-section">
			<div class="p-5">
					<input type="text" id="name" name="name" value="" placeholder="Event Name" required>
					<div class="dummy">
						<input type="text" name="dummy-date" placeholder="Date" id="dummy-date" required>
						<input type="date" name="date" id="date" required>
					</div>
					<div class="dummy">
						<input type="text" name="dummy-time" placeholder="Time" id="dummy-time" required>
						<input type="time" name="time" id="time" required>
					</div>
			</div>
		</div>

		<div class="form-section">
			<div class="info-box center">
				<h1>Location</h1>
				<p>Select where the event is going to take place</p>
			</div>
			<div class="p-5 not-valid">
				<div class="ui-input">
					<i class="ss-search"></i>
						<input type="text" name="location" id="location" placeholder="Search" required>
					<ul class="results">
					<li><a>Search Result #1</a></li>
					<li><a>Search Result #2</a></li>
					<li><a>Search Result #3</a></li>
					</ul>
					</div>
				</div>
		</div>

		<input type="hidden" name="lat" id="lat" value="0">
		<input type="hidden" name="lng" id="lng" value="0">
		<div id="map"></div>


	</form>
</div><!-- /content -->