<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center">Logout</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>Invitations</h1>
		</div>
	</div>
</div>

<div data-role="content" class="dev">
	<div class="feed white-bg">
		
	</div>
</div><!-- /content -->