<div class="ui-loader" style="display: block"> 
	<i class="ss-settings"></i>
</div>

<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a data-role="none" href="#" class="head-btn inline-center">Back</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>Signup</h1>
		</div>
		<div class="xf-13 inline-right">
			<a data-role="none" href="#" class="head-btn inline-center">Next</a>
		</div>
	</div>
</div>

<div data-role="content" class="dev">
	<div class="feed">
		<div class="info-box p-5 center">
			<h1>Enjoy Your Experience</h1>
			<p>By signing up you agree to our <u>terms of service</u></p>
		</div>
		<div class="r">
			<form method="post">
					<div class="ui-input">
						<input type="text" name="text-6" id="text-6" value="" placeholder="Awesome" class="valid">
						<i class="ss-like valid"></i>
					</div>
					<div class="ui-input">
						<input type="text" name="text-6" id="text-6" value="" placeholder="Awesome" class="error">
						<i class="ss-dislike hatch error"></i>
					</div>
			</div>
		</div>
	</div>
	<div class="info-box p-5 center">
		<p>Already have an account? <a href="#">Login</a></p>
	</div>		
</div><!-- /content -->