<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="feed white-bg">
		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
						<img class="img-round inline-left" src="http://dummyimage.com/100/000/fff.png">
					</div>
					<div class="x-34 inline-left children-middle list-height no-gap-left">
						<div>
							<h1>{{strings.title}}</h1>
							<p>-</p>
							<p>{{partner.email}}</p>
						</div>
					</div>
				</div>

				<div class="r p-4 border-down">
					<div class="x-16 x-o-9">
						<a class="std-btn cancel inline-center">{{strings.buttons.cancel}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /content -->