<div class="navbar">
	<div class="r p-4">

		<div class="xf-22 xf-o-13 inline-center">
			<h1>Profile</h1>
		</div>
		<div class="xf-13 inline-right">
			<a class="head-btn inline-center">Update</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="feed">
		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="inline-center children-middle">
						<i class="ss-camera"></i>
						<img class="img-round avatar m-5 m-t-0" src="">
					</div>

					<input type="text" name="name" id="name" value="Daniel Lyons" required>

					<input type="email" disabled name="email" id="email" value="Daniel@punklogic.com.au" required>

				</div>
			</div>
		</div>
	</div>
</div><!-- /content -->