<div class="navbar">
	<div class="r p-4">

		<div class="xf-22 xf-o-13 inline-center">
			<h1>Your Rewards</h1>
		</div>
		<div class="xf-13 inline-right">
			<a class="head-btn inline-center">Partner</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="feed white-bg round">
		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
						<img class="img-round inline-left m-2 m-b-0" src="http://dummyimage.com/100/000/fff.png">
					</div>
					<div class="x-34 inline-left children-middle no-gap-left">
						<div>
							<h1>Movie Ticket</h1>
							<p>2013-03-02</p>
							<p>Dishwashing Event</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
						<img class="img-round inline-left m-2 m-b-0" src="http://dummyimage.com/100/000/fff.png">
					</div>
					<div class="x-34 inline-left children-middle no-gap-left">
						<div>
							<h1>Movie Ticket</h1>
							<p>2013-03-02</p>
							<p>Dishwashing Event</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
						<img class="img-round inline-left m-2 m-b-0" src="http://dummyimage.com/100/000/fff.png">
					</div>
					<div class="x-34 inline-left children-middle no-gap-left">
						<div>
							<h1>Movie Ticket</h1>
							<p>2013-03-02</p>
							<p>Dishwashing Event</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="container">
				<div class="r p-4 border-down-light">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
						<img class="img-round inline-left m-2 m-b-0" src="http://dummyimage.com/100/000/fff.png">
					</div>
					<div class="x-34 inline-left children-middle no-gap-left">
						<div>
							<h1>Movie Ticket</h1>
							<p>2013-03-02</p>
							<p>Dishwashing Event</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /content -->