<div class="navbar">
	<div class="r p-4">
			<h1 class="inline-center">Settings</h1>
	</div>
</div>

<div data-role="content">
	<div class="m-5 m-t-0">
		<a class="full-btn inline-center" href="#alerts">Alerts</a>
	</div>
	<div class="m-5">
		<a class="full-btn inline-center" href="#tos">Terms and Conditions</a>
	</div>
	<div class="m-5">
		<a class="full-btn inline-center" href="#connected">Manage Partner Connection</a>
	</div>
	<div class="m-5">
		<a class="full-btn inline-center logout">Log out</a>
	</div>
</div><!-- /content -->