<div id="splash">
	<div class="p-7">
		<img src="../images/logo/logo.png">
	</div>
	<div class="r">
		<div class="m-3">
			<a class="head-btn inline-center" href="#login">Login</a>
		</div>
		<div class="m-4">
			<p>or</p>
		</div>
		<div class="m-3">
			<a class="head-btn inline-center" href="#signup">Create Account</a>
		</div>
	</div>
</div>