<div class="table">
	<div>
		<img class="img-round" src="http://dummyimage.com/100/000/fff.png" style="width:50px; height:50px">
	</div>
	
	<h1>Coffee & Cake Morning Tea Date Coffee & <br><br><br> Cake Morning Tea Date Coffee & <br> Cake Morning Tea Date</h1>
</div>