<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a data-role="none" href="#" class="head-btn inline-center">Back</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>Signup</h1>
		</div>
		<div class="xf-13 inline-right">
			<a data-role="none" href="#" class="head-btn inline-center">Next</a>
		</div>
	</div>
</div>

<div data-role="content" class="dev">
	<div class="feed">
		<div class="info-box p-5 center">
			<h1>Enjoy Your Experience</h1>
			<p>By signing up you agree to our <u>terms of service</u></p>
		</div>
		<div class="r">
			<form method="post">
					<input type="text" name="text-6" id="text-6" value="" placeholder="Awesome" class="valid">
					<label for="email" class="valid"><i class="ss-icon">&#x1F44D;</i></label>
					<input type="email" name="text-6" id="text-6" value="" placeholder="Oops!" class="error">
					<label for="email" class="error"><i class="ss-icon hatch">&#x1F44E;</i></label>
			</div>
		</div>
	</div>
	<div class="info-box p-5 center">
		<p>Already have an account? <a href="#">Login</a></p>
	</div>		
</div><!-- /content -->