<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center back">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="feed">
		<div class="item white-bg round">
			<div class="container">
				<div class="r p-5 p-b-1">
					<div class="x-11 inline-left children-middle list-height no-gap-right">
				    	<%if(partner.avatar != ""){%>
				    		<img class="img-round inline-left" src="{{partner.avatar}}" alt="">
				    	<%} else {%>
							<span class="std-100-avatar inline-left">{{partner.fullname[0]}}</span>
				    	<%}%>
					</div>
					<div class="x-34 inline-left children-middle list-height no-gap-left">
						<div>
							<h1>{{strings.title}}</h1>
							<p>{{partner.fullname}}</p>
							<p>{{partner.email}}</p>
						</div>
					</div>
				</div>
				<div class="r p-5">
					<div class="x-16">
						<a class="std-btn inline-center disconnect">{{strings.buttons.disconnect}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /content -->