<div class="navbar">
	<div class="r p-4">
		<div class="xf-11 inline-left back-title-btn">
			<a class="head-btn inline-center back">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-11 inline-left prev-title-btn">
			<a class="head-btn inline-center prev">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-26 inline-center titlebar">
			<h1>{{strings.form.event_start.header.title}}</h1>
		</div>
		<div class="xf-11 inline-right next-title-btn">
			<a class="head-btn inline-center btn-next">{{strings.titlebar.buttons.right.next}}</a>
		</div>
		<div class="xf-11 inline-right submit-title-btn">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right.submit}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="progressbar">
		<div class="step active"></div>
		<div class="step"></div>
		<div class="step"></div>
		<div class="step"></div>
		<div class="step last fa fa-check"></div>
	</div>
	<form method="post">

		<div class="form-section figjam2 current">
			<div class="info-box center p-3 p-t-0">
				<h1>{{strings.form.event_start.header.title}}</h1>
				<p>{{strings.form.event_start.header.subtitle}}</p>
			</div>
			<div class="p-5">
				<input type="text" id="name" name="name" value="" placeholder="{{strings.form.event_start.placeholders.name}}" required>
				<div class="ui-input">
					<select name="repeating" class="full-btn">
						<option value="0">{{strings.form.event_start.placeholders.repeating.once}}</option>
						<option value="1">{{strings.form.event_start.placeholders.repeating.twice}}</option>
						<option value="2">{{strings.form.event_start.placeholders.repeating.threex}}</option>
						<option value="3">{{strings.form.event_start.placeholders.repeating.fourx}}</option>
					</select>
					<i class="reminder">{{strings.form.event_start.placeholders.repeating.title}}</i>
				</div>

			</div>
		</div>

		<div class="form-section ">
			<div class="info-box center p-3 p-t-0">
				<h1>{{strings.form.event_location.header.title}}</h1>
				<p>{{strings.form.event_location.header.subtitle}}</p>
			</div>
			<div class="p-5 p-b-0">
				<div class="ui-input">
					<i class="ss-search"></i>
						<input type="text" name="location" id="location" placeholder="{{strings.form.event_location.placeholders.location}}" required>
					<ul class="results">
					<li><a></a></li>
					<li><a></a></li>
					<li><a></a></li>
					</ul>
				</div>
			</div>
			<input type="hidden" name="lat" id="lat" value="0">
			<input type="hidden" name="lng" id="lng" value="0">
			<div id="map"></div>
		</div>



		<div class="form-section figjam">
			<div class="info-box center p-3 p-t-0">
				<h1>{{strings.form.event_datetime.header.title}}</h1>
				<p>{{strings.form.event_datetime.header.subtitle}}</p>
			</div>
			<div class="dummy">
				<input type="text" name="dummy-date" placeholder="{{strings.form.event_datetime.placeholders.date}}" id="dummy-date" required>
				<input type="date" name="date" id="date" min="{{mindate}}" required>
			</div>

			<div class="dummy p-2">
				<input type="text" name="dummy-time" placeholder="{{strings.form.event_datetime.placeholders.time}}" id="dummy-time" required>
				<input type="time" name="time" id="time" required>
			</div>
			
			<div id="time-error">
				
			</div>
		</div>






		<div class="form-section">
			<div class="info-box center p-3 p-t-0">
				<h1>{{strings.form.event_rewards.header.title}}</h1>
				<p>{{strings.form.event_rewards.header.subtitle}}</p>
			</div>
			<div class="p-5">
				<div class="reward1">
				<input type="text" name="reward1" id="reward1" placeholder="{{strings.form.event_rewards.placeholders.reward1}}" required>
				</div>
				<div class="reward2 hidexxx">
					<input type="text" name="reward2" id="reward2" placeholder="{{strings.form.event_rewards.placeholders.reward2}}">
				</div>
				<div class="reward3 hidexxx">
					<input type="text" name="reward3" id="reward3" placeholder="{{strings.form.event_rewards.placeholders.reward3}}">
				</div>
			</div>
		</div>


		<div class="form-section">
			<div class="info-box center p-3 p-t-0">
				<h1>{{strings.form.event_preview.header.title}}</h1>
				<p>{{strings.form.event_preview.header.subtitle}}</p>
			</div>


		</div>






	</form>
</div><!-- /content -->