<div class="navbar">
	<div class="r p-4">
		<div class="xf-22 xf-o-13 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a href="#createevent" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>
<div class="header-footer r">
    <a class="xf-24 partner active">
    	<%if(avatar != ""){%>
    		<img class="left std-avatar" src="http://heldup.pluxd.com.au/{{avatar}}">
    	<%} else {%>
			<span class="std-avatar">{{fullname[0]}}</span>
    	<%}%>
    	{{strings.headerfooter.setbypartner}} <span class="bullet user">99</span>
    </a>
    <a class="xf-24 user">
    	<%if(partner.avatar != ""){%>
    		<img class="left std-avatar" src="http://heldup.pluxd.com.au/{{partner.avatar}}">
    	<%} else {%>
			<span class="std-avatar">{{partner.fullname[0]}}</span>
    	<%}%>
    	{{strings.headerfooter.setbyuser}} {{partner.fullname.split(' ')[0]}} <span class="bullet partner">0</span>
    </a>
</div>
<div data-role="content" class="dashboard">

	<div class="feed">
		<div class="users"></div>
		<div class="partners show"></div>
	</div>

</div>


