<div data-role="content">
    <div class="feed">
        <div class="info-box p-4 center">
            <h1>{{strings.header.title}}</h1>
            <p>{{strings.header.subtitle}}</p>
            <div class="m-5 m-b-0">
                <a class="full-btn inline-center center-hack" href="#createevent">{{strings.buttons.createevent}}</a>
            </div>
        </div>
    </div>
</div>