<div class="modal-holder overlay">
    <div id="dialog-view" class="modal white-bg">
        <div class="close"><i class="ss-icon">&#x2421;</i></div>
        <div class="content">
            <div class="r">
                <div class="box p-5">
                    <div class="circle center">
                        <i class="ss-icon"></i>
                    </div>
                </div>
            </div>
            <div class="r">
                <div class="info-box center p-5 p-t-0">
                    <h1 class="title"></h1>
                    <p class="content"></p>
                </div>
				<form class="form-section">
					<div class="p-5">
						<textarea name="reward1" id="reward1" placeholder=""></textarea>
					</div>
				</form>
            </div>
            <div class="border-down-light"></div>
            <div class="r m-5">
                <div class="x-16 center">
                    <a class="ok-btn std-btn inline-center"></a>
                </div>
            </div>
        </div>
    </div>
</div>