<div class="modal-holder overlay">
    <div id="dialog-view" class="modal white-bg">
        <div class="close"><i class="ss-icon">&#x2421;</i></div>
        <div class="content">
            <div class="r">
                <div class="box p-5">
                    <div class="circle center">
                        <i class="ss-icon"></i>
                    </div>
                </div>
            </div>
            <div class="r">
                <div class="info-box center p-5 p-t-0">
                    <h1 class="title"></h1>
                    <p class="content"></p>
                </div>
                <div class="ui-input">
                    <select name="reminder-first" class="full-btn">
                        <%for(var i = 0; i < options.labels.length; i++ ){%>
                            <option value="{{options.values[i]}}">{{options.labels[i]}}</option>
                        <%}%>
                    </select>
                    <i class="reminder">{{options.mainlabel}}</i>
                </div>  
            </div>
            <div class="border-down-light"></div>
            <div class="r m-5">
                <div class="center">
                    <a class="ok-btn std-btn inline-center"></a>
                </div>
            </div>
        </div>
    </div>
</div>