<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center" href="#dashboard/{{id}}">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>
				<%if(ontime_count == 0){%>
					{{strings.titlebar.title}}
				<%}else{%>
					{{strings.titlebar.titlelocation}}
				<%}%>
			</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<form method="post">
	<%if(ontime_count == 0){%>

		<div class="form-section">
			<div class="info-box center p-3 p-t-0">
				<h1>{{name}}</h1>
				<p>{{strings.form.event_datetime.header.subtitle}}</p>
			</div>
		<div class="form-section">
			<div class="p-5">
					<div class="dummy">
						<input type="text" name="dummy-date" placeholder="Date: {{date}}" id="dummy-date">
						<input type="date" min="{{mindate}}" name="date" id="date" >
					</div>
					<div class="dummy">
						<input type="text" name="dummy-time" placeholder="Time: {{time}}" id="dummy-time">
						<input type="time" name="time" id="time">
					</div>
			</div>
		</div>
	<%}%>
	
		<div class="form-section">
			<div class="info-box center p-3 p-t-0">
				<%if(ontime_count == 0){%>
					<h1>{{strings.form.event_location.header.title}}</h1>
				<%} else {%>
					<h1>{{name}}</h1>
				<%}%>
				<p>{{strings.form.event_location.header.subtitle}}</p>
			</div>
			<div class="p-5 not-valid">
				<div class="ui-input">
					<i class="ss-search"></i>
						<input type="text" name="location" id="location" value="{{location}}" placeholder="{{strings.form.event_location.placeholders.location}}">
					<ul class="results">
					<li><a></a></li>
					<li><a></a></li>
					<li><a></a></li>
					</ul>
					</div>
				</div>
		</div>

		<input type="hidden" name="lat" id="lat" value="0">
		<input type="hidden" name="lng" id="lng" value="0">
		<div id="map"></div>

	</form>
</div><!-- /content -->