<div class="item white-bg rounded grey-bg no-multiple failed-card">
	<div class="ss-delete delete-icon red-text delete-btn"></div>
    <h1>{{name}}</h1>
    <center><p>{{strings.message}}</p></center>
     <i class="ss-deleteheart"></i>
    <a class="std-btn inline-center statistics-btn">{{strings.buttons.statistics}}</a>
</div>