<div class="item white-bg rounded grey-bg">
    <div class="container">
        <h1>{{name}}</h1>
        <div class="bullet action">Action</div>
        <div class="r table">
            <div class="p-4">
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-clock-o x-4"></i><p class="p-2 x-36">

                    <% if( repeating > 0 ){ %>
                        <span class="label-bullet">{{parseInt(repeating)+1}} of {{parseInt(repeating)+1}}</span>
                    <% } %>
                    {{date}}

                </p>
                </div>
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-map-marker x-4"></i><p class="p-2 x-36"> {{location}}</p>
                </div>
                <div class="r p-2 inline-left no-gap red-text">
                    <i class="fa fa-trophy x-4"></i><p class="p-2 x-36"> Partner suggested reward</p>
                </div>
            </div>
        </div>
        <i class="ss-plus toggle-icon"></i>
    </div>
    <div class="msgs">
        <% if( dates ){ %>
            <h2>Recurring Events</h2>
            <form class="r border-down border-top radio p-2">
                <% for(index in dates){ %>
                <p class="p-2 p-b-0 x-25">
                    {{dates[index]}}
                </p>
                <% } %>
            </form>
        <% } %>
        <h2>Reward Selection</h2>
        <form class="r no-gap border-down border-top radio p-2">
            <div class="radio p-2">
                <input id="reward-{{id}}-1" type="radio" name="reward-{{id}}" value="1" checked>
                <label for="reward-{{id}}-1">{{rewards[0]}}</label>
            </div>
            <a class="radio p-2 suggest-btn">
                <input id="suggest-{{id}}" type="radio">
                <label for="reward-{{id}}-1">Not happy? Suggest your own reward</label>
            </a>
        </form>
        <div class="r p-5 embossed">
            <div class="">
                <a class="std-btn inline-center accept-btn">Accept</a>
            </div>
            <div class="">
                <a class="std-btn inline-center reject2-btn">Delete</a>
            </div>
             <%if( !(lat == 0 && lng == 0) ){%> <a href="#navigate/{{id}}" class="fa fa-map-marker"></a><%}%>
        </div>  
    </div>
</div>