<div class="item white-bg rounded grey-bg no-multiple ontime-card">
	<div class="ss-delete delete-icon red-text delete-btn center"></div>
    <h1>{{name}}</h1>
    <center><p>{{strings.message}}</p></center>
     <i class="ss-trophy"></i>
    <a class="std-btn inline-center rewards-btn">{{strings.buttons.rewards}}</a>
</div>