<%if(message == ""){%>
<a class="item white-bg rounded grey-bg deleted delete-btn no-click">
    <div class="container">
            <h1>{{name}}</h1>
    </div>
    <div class="r white-bg p-2 p-b-0">
            <p class="red-text error p-5 p-t-0"><i class="ss-delete"></i>{{strings.message}}</p>
    </div>
    <div class="ss-delete delete-icon red-text"></div>
</a>
<%} else {%>
<div class="item white-bg rounded grey-bg">
 <div class="container">
        <h1>{{name}}</h1>
        <div class="bullet action">{{strings.label}}</div>
        <div class="r table">
            <div class="p-4">
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-clock-o x-4"></i><p class="p-2 x-36"> 
                    <% if( repeating > 0 ){ %>
                        {{dates[ontime_count]}}
                    <% } else {%>
                        {{date}}
                    <% }%>
                </p>
                </div>
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-map-marker x-4"></i><p class="p-2 x-36"> {{location}}</p>
                </div>
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-trophy x-4"></i><p class="p-2 x-36"> 
                    <%if(reward == "0"){%>{{strings.norewardselected}}<%} else {%>
                    {{reward}}
                    <%}%>
                </p>
                </div>
            </div>
        </div>
        <i class="ss-plus toggle-icon"></i>
    </div>
    <div class="msgs">
        <div class="r white-bg">
                <div class="border-down"></div>
                <div class="p-4 p-b-0 p-t-0">
                    <p class="error p-4">{{strings.title}}</p>
                    <div class="error-msg p-4">
                        <div class="r table no-gap">
                            <div class="x-5">
                                <%if(partner.avatar != ""){%>
                                    <img class="img-round inline-left" src="{{partner.avatar}}" alt="">
                                <%} else {%>
                                    <span class="std-35-avatar inline-left">{{partner.fullname[0]}}</span>
                                <%}%>
                            </div>
                            <div class="x-38">
                                "{{message}}"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r p-5 embossed">
                <div class="">
                    <a href="#createevent" class="std-btn inline-center delete-btn">{{strings.buttons.createnew}}</a>
                </div>
                <div class="">
                    <a class="std-btn inline-center delete-btn">{{strings.buttons.remove}}</a>
                </div>
             <%if( !(lat == 0 && lng == 0) ){%> <a href="#navigate/{{id}}" class="fa fa-map-marker"></a><%}%>
            </div>  
        </div>     
    </div>
</div>
<%}%>