<div class="item white-bg rounded grey-bg">
    <div class="container">
        <h1>{{name}}</h1>
        <div class="bullet pending">{{strings.label}}</div>
        <div class="r table">
            <div class="p-4">
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-clock-o x-4"></i><p class="p-2 x-36">
                    <p class="p-2 x-36">
                    <% if( repeating > 0 ){ %>
                    <span class="label-bullet">{{parseInt(repeating)+1}} of {{parseInt(repeating)+1}}</span>
                    <% } %>
                    {{date}}
                </p>
                </div>
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-map-marker x-4"></i><p class="p-2 x-36"> {{location}}</p>
                </div>
            </div>
        </div>
        <i class="ss-plus toggle-icon"></i>
    </div>
    <div class="msgs">
        <% if( dates ){ %>
            <h2>{{strings.recurringevents}}</h2>
            <form class="r border-down border-top radio p-2">
                <% for(index in dates){ %>
                <p class="p-2 p-b-0 x-25">{{dates[index]}}</p>
                <% } %>
            </form>
        <%}%>
        <h2>{{strings.rewardsuggestions}}</h2>
        <form class="r border-down border-top radio p-2">
                <p class="p-2 p-b-0 x-25">{{rewards[0]}}</p>
        </form>
        <div class="r p-5 embossed">
            <div class="">
                <a href="#event/{{id}}" class="std-btn inline-center suggest-btn">{{strings.buttons.edit}}</a>
            </div>
            <div class="">
                <a class="std-btn inline-center reject-btn">{{strings.buttons.remove}}</a>
            </div>
             <%if( !(lat == 0 && lng == 0) ){%> <a href="#navigate/{{id}}" class="fa fa-map-marker"></a><%}%>
        </div>
    </div>
</div>