<div class="item white-bg rounded grey-bg">
    <div class="container">
        <h1>{{name}}</h1>
        <div class="bullet action">{{strings.label}}</div>
        <div class="r table">
            <div class="p-4">
                <div class="r p-2 inline-left no-gap <% if( flag & 16384 ){ %>red-text<%}%>">
                    <i class="fa fa-clock-o x-4"></i><p class="p-2 x-36"> 
                    <% if( repeating > 0 ){ %>
                    <span class="label-bullet">{{parseInt(ontime_count)+1}} of {{parseInt(repeating)+1}}</span>
                        {{dates[ontime_count]}}
                    <% } else {%>
                        {{date}}
                    <% }%>

                </p>
                </div>
                <div class="r p-2 inline-left no-gap <% if( flag & 8192 ){ %>red-text<%}%>">
                    <i class="fa fa-map-marker x-4"></i><p class="p-2 x-36 "> {{location}}</p>
                </div>
                <div class="r p-2 inline-left no-gap">
                    <i class="fa fa-trophy x-4"></i><p class="p-2 x-36"> {{reward}}</p>
                </div>
            </div>
        </div>
        <i class="ss-plus toggle-icon"></i>
    </div>
    <div class="msgs">
        <div class="border-down"></div>
        <% if( dates ){ %>
            <h2>{{strings.recurringevents}}</h2>
            <form class="r border-down border-top radio p-2">
                <% for(index in dates){ %>
                    <p class="p-2 p-b-0 x-25<% if(index < ontime_count ){ %> done<% } %>">
                        {{dates[index]}}
                        <% if(index < ontime_count){ %>
                            <span class="fa fa-check-circle-o done-icon"></span>
                        <% } %>
                    </p>
                <% } %>
            </form>
        <% } %>
       
        <div class="r border-down">
            <div class="p-4">
                <% if( flag & 8192 ){ %>
                <div class="changed-msg p-4">
                    <div class="table">
                        <div>
                            <i class="ss-alert"></i>
                        </div>
                        <div> 
                            <h1>{{strings.neweventlocation}}</h1>
                            <p>{{location}}</p>
                        </div>
                    </div>
                </div>
                <% } %>
                 <% if( flag & 16384 ){ %>
                <div class="changed-msg p-4 m-sx-2">
                    <div class="table">
                        <div>
                            <i class="ss-alert"></i>
                        </div>
                        <div> 
                            <h1>{{strings.neweventdate}}</h1>
                            <p>{{date}} {{time}}</p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="r p-5 embossed">
            <div class="">
                <a class="std-btn inline-center heldup-btn">{{strings.buttons.heldup}}</a>
            </div>
            <div class="">
                <a class="std-btn inline-center reject-btn">{{strings.buttons.reject}}</a>
            </div>
             <%if( !(lat == 0 && lng == 0) ){%> <a href="#navigate/{{id}}" class="fa fa-map-marker"></a><%}%>
            
        </div>
    </div>
</div>
