<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center logout">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content" class="dev">
	<div class="info-box center">
		<h1>{{strings.header.title}}</h1>
		<p>{{strings.header.subtitle}}</p>
	</div>
	<div class="feed">
		
	</div>
</div><!-- /content -->