<div class="item white-bg round">
	<div class="container">
		<div class="r p-5 p-b-1">
			<div class="x-9 inline-left children-middle list-height no-gap-right">

		    	<%if(inviter.avatar != ""){%>
		    		<img class="img-round inline-left" src="{{inviter.avatar}}" alt="">
		    	<%} else {%>
					<span class="std-100-avatar inline-left">{{inviter.fullname[0]}}</span>
		    	<%}%>

			</div>
			<div class="x-34 inline-left children-middle list-height no-gap-left">
				<div>
					<h1>{{strings.title}}</h1>

					<p>{{inviter.fullname}}</p>
					<p>{{inviter.email}}</p>
				</div>
			</div>
		</div>

		<div class="r p-5">
			<div class="x-16">
				<a class="accept-partner std-btn inline-center">{{strings.buttons.accept}}</a> 
				
			</div>
			<div class="x-16">
				<a class="reject-partner std-btn inline-center">{{strings.buttons.reject}}</a>
			</div>
		</div>
	</div>
</div>