
<div class="navbar">		
	<div class="r p-4">
		<div class="xf-10 inline-left">
			<a class="head-btn inline-center logout">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-27 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-10 inline-right">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="info-box p-5 center">
		<h1>{{strings.form.header.title}}</h1>
		<p>{{strings.form.header.subtitle}}</p>
	</div>
	<div class="r no-gap">
		<form method="post">
			<input type="email" name="email" id="email" value="" placeholder="{{strings.form.placeholders.email}}" required>
		</form>
	</div>
</div><!-- /content -->
