<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a href="#" class="head-btn inline-center" data-page-transition="right">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="p-5 p-b-0">
		<form method="post">
			<input type="email" name="email" id="email" value="{{strings.form.value.email}}" placeholder="{{strings.form.placeholders.email}}" required>
			<input type="text"  class="disable-auto" name="password" id="password" value="{{strings.form.value.password}}" placeholder="{{strings.form.placeholders.password}}" required>
		</form>
	</div>

	<div class="info-box p-4 center">
		<p>{{strings.form.footer.paragraph}}</p>
	</div>
	
</div><!-- /content -->