<div class="navbar">
	<div class="r p-4">
		<div class="xf-12 inline-left">
			<a href="#" class="head-btn inline-center" data-page-transition="right">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-24 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-12 inline-right">
			<a id="submit" class="head-btn inline-center" >{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>



<div data-role="content">
	<div class="info-box p-5 center">
		<h1>{{strings.form.header.title}}</h1>
		<p>{{strings.form.header.subtitle}}</a></p>
	</div>
	<div class="r">
		<form method="post">
			<input type="email" name="email" id="email"  placeholder="{{strings.form.placeholders.email}}" required>
		</form>
	</div>
	<div class="info-box p-4 center">
		<p>{{strings.form.footer.paragraph}}</p>
	</div>		
</div><!-- /content -->