<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center" href="#dashboard/{{id}}">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
            <a href="maps://maps.apple.com/?daddr={{lat}},{{lng}}"><i class="ss-signpost"></i></a>
		</div>
	</div>
</div>

<div data-role="content" id="mapcontent">
	
</div>