<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center logout">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="feed">
		<div class="item white-bg round">
			<div class="container">
				<div class="r p-5 p-b-1">
					<div class="x-9 inline-left children-middle list-height no-gap-right">
						<span class="std-100-avatar inline-left">@</span>
					</div>
					<div class="x-34 inline-left children-middle list-height no-gap-left">
						<div>
							<h1>{{strings.title}}</h1>
							<% if( invitation.invitee.fullname != '' ){%>
							<p>{{invitation.invitee.fullname}}</p>
							<%}%>
							<p>{{invitation.invitee.email}}</p>
						</div>
					</div>
				</div>

				<div class="r p-5">
					<div class="x-16">
						<a class="std-btn cancel inline-center">{{strings.buttons.cancel}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /content -->