<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center back">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="item">
		<form method="post">
			<div class="container">
				<div class="r no-gap p-4 border-down-light">
					<div class="inline-center children-middle" id="camera">
						<i class="ss-camera"></i>
						<img class="img-round avatar m-sx-4 m-t-0"/>
						<input type="hidden" name="avatar" value="">
					</div>
					<input type="text" name="name" id="name" placeholder="{{fullname}}">
				</div>
			</div>
		</form>
	</div>
</div><!-- /content -->
<canvas id="canvasImage" width="160" height="160">
    Your browser does not support the HTML5 canvas tag.
</canvas>

