<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center back">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a class="head-btn inline-center update" id="submit">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="info-box p-5 center">
		<h1>{{strings.form.header.title}}</h1>
		<p>{{strings.form.header.subtitle}}</p>
	</div>
	<form>
	<div class="m-5 m-t-0 m-t-0 selectbox">
		<div class="ui-input">
			<select name="reminder-first" class="full-btn">
				<option value="0" <%if(reminder1 == 0){%>selected<%}%>>{{strings.form.placeholders.reminder.list[0]}}</option>
                <!--<option value="1" <%if(reminder1 == 1){%>selected<%}%>>{{strings.form.placeholders.reminder.list[1]}}</option>-->
				<option value="2" <%if(reminder1 == 2){%>selected<%}%>>{{strings.form.placeholders.reminder.list[2]}}</option>
				<option value="3" <%if(reminder1 == 3){%>selected<%}%>>{{strings.form.placeholders.reminder.list[3]}}</option>
				<option value="4" <%if(reminder1 == 4){%>selected<%}%>>{{strings.form.placeholders.reminder.list[4]}}</option>
				<option value="5" <%if(reminder1 == 5){%>selected<%}%>>{{strings.form.placeholders.reminder.list[5]}}</option>
				<option value="6" <%if(reminder1 == 6){%>selected<%}%>>{{strings.form.placeholders.reminder.list[6]}}</option>
				<option value="7" <%if(reminder1 == 7){%>selected<%}%>>{{strings.form.placeholders.reminder.list[7]}}</option>
				<option value="8" <%if(reminder1 == 8){%>selected<%}%>>{{strings.form.placeholders.reminder.list[8]}}</option>
				<option value="9" <%if(reminder1 == 9){%>selected<%}%>>{{strings.form.placeholders.reminder.list[9]}}</option>
			</select>
			<i class="reminder">{{strings.form.placeholders.reminder.title}}</i>
		</div>	
	</div>

	<div class="m-5 m-t-0 selectbox <%if(reminder1 == 0){%>hide<%}%>">
		<div class="ui-input">
			<select name="reminder-secondary" class="full-btn">
				<option value="0" <%if(reminder2 == 0){%>selected<%}%>>{{strings.form.placeholders.reminder.list[0]}}</option>
                <!--<option value="1" <%if(reminder1 == 1){%>selected<%}%>>{{strings.form.placeholders.reminder.list[1]}}</option>-->
				<option value="2" <%if(reminder2 == 2){%>selected<%}%>>{{strings.form.placeholders.reminder.list[2]}}</option>
				<option value="3" <%if(reminder2 == 3){%>selected<%}%>>{{strings.form.placeholders.reminder.list[3]}}</option>
				<option value="4" <%if(reminder2 == 4){%>selected<%}%>>{{strings.form.placeholders.reminder.list[4]}}</option>
				<option value="5" <%if(reminder2 == 5){%>selected<%}%>>{{strings.form.placeholders.reminder.list[5]}}</option>
				<option value="6" <%if(reminder2 == 6){%>selected<%}%>>{{strings.form.placeholders.reminder.list[6]}}</option>
				<option value="7" <%if(reminder2 == 7){%>selected<%}%>>{{strings.form.placeholders.reminder.list[7]}}</option>
				<option value="8" <%if(reminder2 == 8){%>selected<%}%>>{{strings.form.placeholders.reminder.list[8]}}</option>
				<option value="9" <%if(reminder2 == 9){%>selected<%}%>>{{strings.form.placeholders.reminder.list[9]}}</option>
			</select>
			<i class="reminder">{{strings.form.placeholders.secondaryreminder.title}}</i>
		</div>	
	</div>
	</form>



</div><!-- /content -->