<div class="navbar">
	<div class="r p-4">

		<!--<div class="xf-22 xf-o-13 inline-center">-->
            <div class="xf-48 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>
<div class="header-footer r">

    <a class="xf-24 user active">
    	<%if(avatar != ""){%>
        <img class="left std-avatar" src="http://heldup.pluxd.com.au/{{avatar}}">
    	<%} else {%>
			<span class="std-avatar">{{fullname[0]}}</span>
    	<%}%>
    	{{strings.headerfooter.earnedrewards}} <span class="bullet user">0</span>  
    </a>
    <a class="xf-24 partner">
    	<%if(partner.avatar != ""){%>
        <img class="left std-avatar" src="http://heldup.pluxd.com.au/{{partner.avatar}}">
    	<%} else {%>
			<span class="std-avatar">{{partner.fullname[0]}}</span>
    	<%}%>
    	{{strings.headerfooter.givenrewards}} {{partner.fullname.split(' ')[0]}} <span class="bullet partner">0</span>  
    </a>

</div>
<div data-role="content">

	<div class="feed rounded">
		<div class="users show"></div>
		<div class="partners"></div>
	</div>
</div><!-- /content -->