<div class="item white-bg">
<%if(user!=my_rewards){%>
	<%if(received == 0){%>
	<div class="container">
	<%} else {%>
	<%if(received == 1){%>
	<div class="container received">
	<%} else {%>
	<div class="container not-received">
	<%}%>
<%}}%>
		<div class="r p-4 border-down-light">
			<div class="x-9 inline-left trophy list-height">
               <i class="ss-trophy"></i>
			</div>
			<div class="x-34 inline-left children-middle no-gap-left">
				<div>
					<p><strong>Reward:</strong> {{name}}</p>
					<p><strong>Event:</strong> {{event}}</p>
					<p><strong>Time:</strong> {{date}}</p>
               	<%if(user!=my_rewards){%>
               		<%if(received == 0){%>
            		<div class="reward_bottom">
                		<div class="btn_received"><a class="std-btn inline-center received-btn">{{strings.buttons.received}}</a></div>
                		<div class="btn_not_received"><a class="inline-center not_received-btn">{{strings.buttons.not_received}}</a></div>
            		</div>
                 	<%} else {%>
            		<p><strong>Status: </strong>
		               	<%if(received == 1){%>
							{{strings.buttons.received}}
    		             <%} else {%>
							{{strings.buttons.not_received}}
            		    <%}%>
            		</p>
                    <%}%>
                	<%} else {%>
                	<p><strong>Status: </strong>
                    <%if(received != 0){%> 
                        <%if(received == 1){%> 
                            {{strings.buttons.received}}
                         <%} else {%>
                            {{strings.buttons.not_received}} 
                        <%}%>  
                    <%}%>  
                    </p>
                <%}%>
				</div>
			</div>
	</div>
</div>