<div class="navbar">
	<div class="r p-4">
		<div class="xf-22 xf-o-13 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center">{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="info-box p-5 center">
		<h1>{{strings.form.header.title}}</h1>
		<p>{{strings.form.header.subtitle}}</p>
	</div>
	<div class="r">
		<form method="post">
			<input type="text" class="disable-auto" name="password" id="password" value="" placeholder="{{strings.form.placeholders.password}}" minlength="8" required>
		</form>
	</div>
</div><!-- /content -->