<div class="navbar">
	<div class="r p-4">
		<div class="inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="m-4">
		<a class="full-btn inline-center" href="#profile">{{strings.buttons.profile}}</a>
	</div>
	<div class="m-4">
		<a class="full-btn inline-center" href="#connected">{{strings.buttons.partnermgr}}</a>
	</div>
	<div class="m-4">
		<a class="full-btn inline-center" href="#changepwd">{{strings.buttons.changepwd}}</a>
	</div>
	<div class="m-4">
		<a class="full-btn inline-center" href="#reminders">{{strings.buttons.reminders}}</a>
	</div>

	<div class="m-4">
		<a class="full-btn inline-center" href="#tos">{{strings.buttons.tos}}</a>
	</div>
	<div class="m-4">
		<a class="full-btn inline-center logout">{{strings.titlebar.buttons.left}}</a>
	</div>



</div><!-- /content -->