<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a href="#" class="head-btn inline-center" data-page-transition="right">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-22 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
		<div class="xf-13 inline-right">
			<a id="submit" class="head-btn inline-center" >{{strings.titlebar.buttons.right}}</a>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="info-box p-5 center">
		<h1>{{strings.form.header.title}}</h1>
		<p>{{strings.form.header.subtitle}}</p>
	</div>
	<form method="post">
		<input type="text" name="fullname" id="fullname"  minlength="2" placeholder="{{strings.form.placeholders.fullname}}" required>
		<input type="email" name="email" id="email"  placeholder="{{strings.form.placeholders.email}}" required>
	</form>
	<div class="info-box p-4 center">
		<p>{{strings.form.footer.paragraph}}</p>
	</div>		
</div><!-- /content -->