<div class="navbar">
	<div class="r p-4">
		<div class="xf-13 inline-left">
			<a class="head-btn inline-center back">{{strings.titlebar.buttons.left}}</a>
		</div>
		<div class="xf-30 inline-center">
			<h1>{{strings.titlebar.title}}</h1>
		</div>
	</div>
</div>

<div data-role="content">
	<div class="info-box full p-4 left" id="tos">
		{{strings.content}}
	</div>
	
</div><!-- /content -->