/*-----------------------------------------------------------------------------------------------------------

 Global Settings

-----------------------------------------------------------------------------------------------------------*/
.item .container .fa-map-marker{
	position: relative;
	left: 2px;
}.item .msgs .fa-map-marker,
 .item .msgs .fa-map-marker:before{
	position: absolute;
	right: 7px;
	bottom: 7px;
	font-size: 22px;
	color: #5E5E5E;
}
img {
	border:0;
}



#createevent #map{
    position: relative;    
    visibility: hidden;
}

.pinx{
	position: absolute !important;
	width: 32px !important;
	height: 32px !important;
	margin-top: 125px !important;
	margin-left: -16px !important;
	left: 50% !important;
}


input:focus,
select:focus,
textarea:focus,
button:focus { 
    outline: none !important;
}

* {
	font-family: "OpenSansRegular";
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font: inherit;
	text-rendering: optimizeLegibility; 
	 outline: 0;
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
}
form {
	padding: 0;
	margin: 0;
}
html,body {
	overflow: hidden;
}

body {
	font-family: "OpenSansRegular";
	background: #dc1d35;
	max-height: 100%;
    padding-top: 32px;
}
[data-role=page]{
	position: absolute;
	top: 0;
	padding-top: 30px;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	z-index: 800 !important;
}
#dashboard [data-role=content] {
	padding: 0;
	padding-top: 68px;
	padding-bottom: 60px;
	overflow: scroll;
	background: #F5F5F5;
}
#dashboard .item p {
	width: 80% !important;
}

#dashboard .msgs p {
	width: 100% !important;
}

[data-role=content]{
	/*-webkit-overflow-scrolling: touch;*/
	height: 100%;
	padding: 0 10px;
	width: 100%;
	background: #f5f5f5;
	overflow: scroll;
	padding-top: 68px;
	padding-bottom: 60px;
	width: 320px;
	margin: 0 auto;
}

#rewards [data-role=content]  {
	padding-top: 90px;
	overflow: scroll;
}

[data-role=content].transition{
	-webkit-transition: 0.5s;
}

.pt-page-current{
	z-index: 99;
}


.table {
	display: table;
	text-align: left;
	padding-left: 5px;
	float: none !important;
}

.table > *
{
	display: table-cell;
	vertical-align: middle;
	float: none !important;
}

.left {
	text-align: left;
}
h1 {
	font-size: 14px;
}
p {
	font-size: 13px;
	color:#000; 
	font-family: "OpenSansLight";
}
strong {
	font-weight: bold;
	font-family: "OpenSansRegular";
	-webkit-font-smoothing: antialiased;
}
.img-round {
	border-radius: 100%;
}
.round {
	border-radius: 6px;
}

.feed{
	width: 100%;
    margin-top: 40px;
}



#invitations .info-box{
margin-top: 25px;
padding-bottom: 15px

}
#invitations .feed{
margin-top: 0;
}


.feed .partners, .feed .users{
	display: none;
}

.feed .partners.show, .feed .users.show{
	display: block;
}

.datetime .title{
	height: 25px;
	text-align: left;
	font-size: 14px;
	margin: 10px 0;
	color: #A8A8A8;
	font-family: "OpenSansSemiBold";
}
[class^=category-]
{
	position: relative;
}

[class^=category-] > .title{
	background: #f5f5f5;
	color: #000;

}


[class^=category-] > .title
{
	padding-left: 10px;
	text-align: left;
	height: 48px;
	font-size: 13px;
	font-family: "OpenSansRegular";
	line-height: 50px;
	border-bottom: 1px solid #DDD;
}
[class^=category-] > .title .bullet{
	text-align: center;
	top:16px !important;
	background: #dc1d35;
	color: #FFF;
	border-radius: 100%;
	width: 18px;
	font-size: 9px;
	height: 18px;
	right: 0;
	line-height: 17px;
	border: 1px solid #FFF;
	position: absolute;
	-webkit-animation:pulse-anim-background infinite 2.4s; /* Safari and Chrome */
}

[class^=category-] >  .content{
	display: none;
	padding-left: 10px;
	padding-right: 10px;
}
[class^=category-] .open{
	display: block !important;
}

.datetime .con .item:last-of-type{
	margin-bottom: 15px;
}

/*-----------------------------------------------------------------------------------------------------------

 Header

-----------------------------------------------------------------------------------------------------------*/
.navbar:before{
    width: 100%;
    height: 30px;
    position: fixed;
    content: '';
    display: block;
    top: 0px;
    left: 0px;
    background: #dc1d35;
}
.navbar  {
	background: #dc1d35;
	border-bottom: 1px solid #b45500;
	/*padding-top: 30px;*/
/* Text Style */
	color:#fff;
	text-shadow:none;
	font-weight: normal;
}
.navbar{
	position: fixed;
	top:30px;
	width: 100%;
	display: table;
	z-index: 80;
	height: 48px;
	margin: 0;
}
/*.navbar [class*="ss-"] {
	font-size:27px;
}*/
.navbar h1 {
	margin: 0;
/* Text Style */
	font-family: "OpenSansSemibold";
	overflow: visible;
	font-size: 17.4px;
	line-height: 31px;
}
/*-----------------------------------------------------------------------------------------------------------

 #Header Footer 

-----------------------------------------------------------------------------------------------------------*/


.header-footer{
	left: 0;
	position: fixed;
	display: block;
	margin-top: 46px;
	/* margin-top: 17px;*/
	z-index: 80;

	background: #B9B9B9;
}

.header-footer a{
	display: block;
	height: 46px;
	font-size: 10px;
	color: #797979;
	line-height: 10px;
}
.header-footer .active {
	opacity: 1;
}


.header-footer a{
	color: #000;
	opacity: 0.3;
	padding-left: 40px;
	background: #f5f5f5;
	line-height: 50px;
	overflow: hidden;
}
.header-footer a.partner{
	padding-left: 46px;
}

#rewards .header-footer a{
}

.header-footer > *{
	position: relative;
}
.header-footer img.left {
	height: 35px;
	width: 35px;
	margin-top: 7px;
	margin-left: 5px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	border: 1px solid white;
}
::-webkit-scrollbar
{
  width: 0;  /* for vertical scrollbars */
  height: 0; /* for horizontal scrollbars */
  background: none;
  display: none;
}

.header-footer .std-avatar {
	display: block;
	height: 35px;
	width: 35px;
	line-height: 34px;
	margin-top: 7px;
	margin-left: 5px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	text-align: center;
	background: #E1B200;
	border: 1px solid #E1B200;
	color: white;
}
#rewards .std-35-avatar {
	display: inline-block;
	border-radius: 100%;
	margin-left: 5px;
	min-width: 35px;
	line-height: 34px;
	text-align: center;
	width: 35px;
	min-height:35px;
	height:35px;
	margin-right: 10px;
	background: #E1B200;
	border: 1px solid #E1B200;
	color: white;
}

.dashboard .std-35-avatar {
	display: block !important;
	border-radius: 100%;
	margin-left: 5px;
	min-width: 35px;
	line-height: 34px;
	text-align: center;
	width: 35px;
	min-height:35px;
	height:35px;
	margin-right: 10px;
	background: #E1B200;
	border: 1px solid #E1B200;
	color: white;
}

.std-100-avatar {
	text-align: center;
	height: 40px;
	width: 40px;
	line-height: 39px;

	border-radius: 100%;
	background: #E1B200;
	border: 1px solid #E1B200;
	color: white;
	margin-top: 10px;
}

.bullet.partner, .bullet.user{
	display: none;
}

.header-footer a .bullet{
	background: #dc1d35;
	color: #FFF;
	border-radius: 100%;
	position: absolute;
	top: 7px;
	left: 24px;
	width: 18px;
	font-size: 9px;
	height: 18px;
	line-height: 17px;
	border: 1px solid white;
}
.bullet{
	display: inline-block;
	border-radius: 6px;
	text-align: center;
	height: 14px;
	width: 14px;
	line-height: 24px;
	margin-left: 5px;

	background: #dc1d35;
	color: #fff;
}
#rewards .header-footer a .bullet  {
	top: 6px;
	left: 22px;
	border: 1px solid #E4E4E4;
	background: #FFF;
	color: #222;
	width: auto;
	padding: 0 4px;
	border-radius: 7px;
	min-width: 18px;
	display: block;
}

.feed .title i {
	top: 2px;
	position: relative;
	margin-right: 10px;
}

.feed .title .pull-left ,
.feed .title .pull-right {
	font-family: "OpenSansLight";
	font-size: 13px;
	color:#000;
}

/*-----------------------------------------------------------------------------------------------------------

 #Connect Parner 

-----------------------------------------------------------------------------------------------------------*/

#connect .ui-content {
	padding: 0;
}
/*-----------------------------------------------------------------------------------------------------------

 Images

-----------------------------------------------------------------------------------------------------------*/
.feed img {
 	width: 50px;
 	height: 50px;
 	margin-top: 3px;
 }
.feed .item {
	position: relative;
}

/*-----------------------------------------------------------------------------------------------------------

 ListViews

-----------------------------------------------------------------------------------------------------------*/
.list-height {
	height: 50px;

}

/*-----------------------------------------------------------------------------------------------------------

 Backgrounds

-----------------------------------------------------------------------------------------------------------*/
.white-bg {
	background: #fff;
}
/*-----------------------------------------------------------------------------------------------------------

 Borders

-----------------------------------------------------------------------------------------------------------*/
.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-down {
	border-bottom: 1px solid #e5e5e5;
}
.border-down-light {
	border-bottom: 1px solid #f6f6f6;
}
/*-----------------------------------------------------------------------------------------------------------

 Buttons

-----------------------------------------------------------------------------------------------------------*/

a.std-btn {
	display: inline-block;
	padding: 0 15px;
	height: 25px;
	border-radius: 4px;
/* Background Style */
	background: #F0F0F0;
	border:1px solid #E0E0E0;
	border-bottom: 2px solid #B9B9B9;
/* Text Style */
    font-family: OpenSansSemibold;
	font-size: 12px; 
	color: #5e5e5e;
	line-height: 24px;
	float:left;
	margin-right: 15px !important;
}
a.std-btn:focus {
	background: #f0f0f0;
}
a.head-btn {
	display: inline-block;
	height: 30px;
	width: 52px;
	border-radius: 4px;
/* Background Style */
	background: #fff;
/* Text Style */
    font-family: OpenSansSemibold;
	font-size: 13px;
	color:#dc1d35;
	line-height: 30px;	
}

.full-btn {
	border:0 !important;
	outline: none;
	width: 100%;
	display: inline-block;
	height: 35px;
	border-radius: 4px;
/* Background Style */
	background: #E2E2E2;
/* Text Style */
    font-family: OpenSansSemibold;
	font-size: 13px; 
	line-height: 37px;
	color: #5e5e5e;
}

.ui-input i.ss-navigatedown {
	color:#8b8b8b;
	top: 9px;
}
.ui-input input[type=text],input[type=password],input[type=email],input[type=search]{
	padding-right: 56px !important;
}
.center-hack {
	padding-left: 0 !important;
	text-align: center !important;
}
.btn-delete {
	text-align: center !important;
}

.reward_bottom{
	margin-top: 5px;
}
.btn_received{	
	float: left;
	max-width:90px;
}
.btn_not_received{
	display: inline-block;
	padding: 0 10px;
	height: 25px;
	border-radius: 4px;
/* Background Style */
	background: #F0F0F0;
	border:1px solid #E0E0E0;
	border-bottom: 2px solid #B9B9B9;
/* Text Style */
    font-family: OpenSansSemibold;
	font-size: 12px; 
	color: #5e5e5e;
	line-height: 24px;
	float: right;
}

/*-----------------------------------------------------------------------------------------------------------

 Messages

-----------------------------------------------------------------------------------------------------------*/
.full {
	width: 100% !important;
}
.info-box {
	width: 290px;
	text-align: left;
}
.info-box p a {
	color:#D80000;
	font-size: 13px;
	text-decoration: none;
}

.feed .message {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.feed .message h1 {
	color:#1c1d1d;
	position: absolute;
	margin: auto;
	display: block;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
/*-----------------------------------------------------------------------------------------------------------

 Effects

-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------

 inputs

-----------------------------------------------------------------------------------------------------------*/

.no-touch
{
	pointer-events: none;
	-webkit-user-select: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"]  {
	margin: 0;
	border:none;
	border-radius: 6px;
	width: 100%;
	height: 35px;
	padding: 20px 45px 20px 10px;
	margin-bottom: 5px;
	outline: none;
/* Text Style */
	font-size: 13px;
	color:#8b8b8b;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.ui-input {
	position: relative;
}

/*-----------------------------------------------------------------------------------------------------------

 Checkbox & Radiobox

-----------------------------------------------------------------------------------------------------------*/

.radio {
	text-align: left;
	width: 100%;
}
.radio .ui-input {
	display: none;
}
input[type=radio] {
	display: none;
}
.radio label {
	float: left;
	font-size: 13px;
	word-wrap:break-word;
	text-align: left;
	width: 100%;
    display: inline-block;  
    cursor: pointer;  
    position: relative;
    padding: 10px 0;  
	padding-left: 44px;
}

	#dashboard .item .radio p {
	font-size: 13px;
	color:#858585;
	padding-top:10px;
	padding-left: 14px;
	padding-bottom: 10px !important; 
}

.radio input[type=radio]:checked + label:before {
    content: "";
    box-shadow: inset 0 0 0 4px #dc1d35;
    -webkit-transition: 0.3s;
    color: #f3f3f3;
    font-size: 40px;  
    text-align: center;  
    line-height: 16px;
    background: #fff;
} 
.radio label:before {  
    border-radius: 8px;
}
.radio label:before {  
    content: "";
    display: inline-block;
    -webkit-transition: 0.3s;
    width: 17px;  
    height: 17px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 13px;  
    top: 12px;  
    background-color: #fff;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
}  



/*-----------------------------------------------------------------------------------------------------------

 Modal

-----------------------------------------------------------------------------------------------------------*/
.overlay {
	background: rgba(232, 74, 74, 0.80);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
}
.modal a.std-btn {
	float:none;
	margin-right: 0 !important;
}
.modal {
	border: 1px solid rgba(232, 74, 74, 1.00);
	box-shadow: 0px 0px 24px 0px rgba(232, 74, 74, 0.90);
	position: fixed;
	top: 47%;
	left: 50%;
	width: 300px;
	height: auto;
	z-index: 2000;
	/*visibility: hidden;*/
	border-radius: 4px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.modal textarea, .modal input {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 16px;
	padding: 10px;
	border-radius: 4px;
	font-size: 13px;
	color: #000;
	font-family: "OpenSansLight";
	border: 1px solid #989898;
	outline: none;
	min-height: 120px;
}
.modal textarea:focus {
	border: 1px solid #686868;	
}
.modal textarea::-webkit-input-placeholder {
	color:#989898;
}
.modal .box {
	width: 100%;
}
.modal .circle {
	background: #fff;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border:2px solid #dc1d35;
}
.modal i {
	color:#fff;
	font-size: 25px;
	line-height: 48px;
	color:#dc1d35;
}

.modal .close i {
	width: 64px;
	height: 64px;
	font-size: 18px;
	color:#dc1d35;
	position: absolute;
	top: -5px;
	right: -16px;
}
/*-----------------------------------------------------------------------------------------------------------

 Spinner

-----------------------------------------------------------------------------------------------------------*/

.ui-loader {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(232, 74, 74, 0.80);
	z-index: 99999;
}


.ui-loader > [class^=ss-]
{
	position: fixed;
	margin:auto;
	top:0;left:0;bottom:0;right:0;
	height:100px;
	width: 100px;
	line-height: 115px;
	text-align: center;
	font-size: 64px;
	color: #fff;
	-webkit-animation:spin 4s infinite linear;
}

@-webkit-keyframes spin {
  0% {
  	-webkit-transform-origin:50% 50%;
    -webkit-transform: rotate(0deg);
  }
  100% {
  	-webkit-transform-origin:50% 50%;
    -webkit-transform: rotate(359deg);
  }
}

/*-----------------------------------------------------------------------------------------------------------

 Animations + Keyframes

-----------------------------------------------------------------------------------------------------------*/

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft 0.2s ease both;
	-moz-animation: moveToLeft 0.2s ease both;
	animation: moveToLeft 0.2s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft 0.2s ease both;
	-moz-animation: moveFromLeft 0.2s ease both;
	animation: moveFromLeft 0.2s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight 0.2s ease both;
	-moz-animation: moveToRight 0.2s ease both;
	animation: moveToRight 0.2s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight 0.2s ease both;
	-moz-animation: moveFromRight 0.2s ease both;
	animation: moveFromRight 0.2s ease both;
}


/* move from / to  */

@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	to { transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeft {
	from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight { 
	to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight { 
	to { transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}
@keyframes spaceboots {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}								
}

@-webkit-keyframes spaceboots {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}		
}

.hatch {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1s;
	-webkit-transform-origin:80% 80%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	display:inline-block;
}

/*-----------------------------------------------------------------------------------------------------------

 Validation 

-----------------------------------------------------------------------------------------------------------*/

.ui-input i {
	position: absolute;
	z-index: 2;
	top: 14px;
	right: 15px;
	pointer-events:none;
}
input.valid{
	box-shadow: inset 0 0 0 2px #09DA00;
}
.ui-input  i.valid {
	color:#09DA00;
	color: #08B600;
}
input.valid::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #09DA00;
}
input.error{
	box-shadow: inset 0 0 0 2px #dc1d35;
	color: #dc1d35;
}
.ui-input  i.error{
	color: #dc1d35;
}
input.error::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #dc1d35;
}


/*.reward2.hidexxx,
.reward3.hidexxx,
.reward2.hidexxx .clr,
.reward3.hidexxx .clr,
.reward2.hidexxx .clr:after,
.reward3.hidexxx .clr:after,
.reward2.hidexxx .clr:before,
.reward3.hidexxx .clr:before{
	display: none !important;
}*/

/*-----------------------------------------------------------------------------------------------------------

 Dashboard

-----------------------------------------------------------------------------------------------------------*/

.item .label {
	position: absolute;
	padding: 6px 8px;
	padding-bottom: 7px;
	color: #FFF;
	right: 15px;
	top: 0;
	font-size: 12px;
	font-family: "OpenSansSemiBold";
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	line-height: 15px;
}
.deleted .error i{
	position: relative;
	top: 2px;
	padding-left: 4px;
	font-size: 14px;

}

.delete-icon{
	position: absolute;
	right: 12px;
	font-size: 19px;
	top: 50%;
	margin-top: -9px;
}

.red-text, .red-text p, .red-text i, .red-text span {
	color: #dc1d35 !important;
	border-color: #dc1d35;
	font-weight: bold;
}
.status{
	float:left;
	font-size: 13px;
	color:#000; 
	font-family: "OpenSansLight";
}
.green-status{
	color: #1edf70 !important;
	float:right;
	font-family: "OpenSansbold";
	padding-left: 4px;
}
.red-status{
	color: #dc1d35 !important;
	float:right;
	font-family: "OpenSansbold";
	padding-left: 4px;
}
.red-text p{
	font-size: 13px;
}
.dashboard .msgs .error{
	color: #dc1d35 !important;
	font-weight: bold;
	font-size: 11px;
	padding-left: 6px;
}
.dashboard .msgs .note{
	font-weight: bold;
	font-size: 11px;
	padding-left: 6px;
	padding-bottom: 4px !important;
}
.red {
	background: #dc1d35;
}
.grey {
	background: #222;
}
.green {
	background: #1edf70;
}

.dashboard .red-bg {
	border:1px solid #dc1d35;
}


#dashboard .rounded {
	border-radius: 4px;
	box-shadow: none;
	overflow: visible;
	border: 2px solid #CACACA;
}
.rounded {
	border-radius: 4px;
	box-shadow: 0px 2px 2px 0px #cdcdcd;
	overflow: hidden;
	margin: 10px;
}
.dashboard h1 {
	font-size: 16px;
	font-family: "OpenSansbold";
	word-wrap:break-word;
	text-align: left;
	padding-left:8px;
	padding-top: 5px;
}
.dashboard p {
	text-align: left;
}
.dashboard p b {
	color:#000;
	font-family: "OpenSansSemibold";
}
/*-----------------------------------------------------------------------------------------------------------

 Dashboard Messages

-----------------------------------------------------------------------------------------------------------*/
.dashboard .error-msg {
	border-radius: 4px;
	border: 1px solid #D6D6D6;
	background: #F8F8F8;
	color: #000000;
	font-family: "OpenSansLight";
	font-size: 12px;
	margin: 0 4px;
}

.dashboard .changed-msg {
	border-radius: 4px;
	background: #FFEDED;
	color: #000000;
	font-family: "OpenSansLight";
	font-size: 12px;
	margin: 10px 4px;
}.dashboard .changed-msg h1 {
	font-family: "OpenSansbold";
	font-size: 13px;
	color:#E3215B !important;
	text-align: left;
	float:left;
	margin: 0;
	padding: 0;
	margin-top: 0 !important;
}.dashboard .changed-msg i {
	color:#E3215B !important;

}.dashboard .changed-msg p {
	color:#252222 !important;
	margin: 0;
	padding: 0;
	float:left;
	padding-right: 20px;
	padding-left: 7px;
	clear: both;
}


.deleted{
	opacity: 0.4;
}

.dashboard .error-msg p {
	color:#000;
	float:left;
	padding-right: 20px;
	clear: both;
}

.dashboard i.ss-alert {
	font-size: 18px;
	position: relative;
	top: 3px;
	padding-right: 15px;
	padding-left: 15px;
}

.dashboard .error-msg h1 {
	font-family: "OpenSansbold";
	font-size: 13px;
	color:#dc1d35;
	text-align: left;
	float:left;
}

.dashboard .error-msg i.ss-alert {
	color:#dc1d35;
}
.dashboard .info-msg {
	border-radius: 4px;

}

.dashboard .msgs{
	display: none;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	overflow: hidden;
}

.dashboard .item img {
	border-radius: 100%;
	margin-left: 5px;
	min-width: 35px;
	width: 35px;
	min-height:35px;
	height:35px;
	margin-right: 10px;
}

.dashboard .msgs.show{
	display: block;
}
.dashboard .embossed{
	background: #FFF;
	padding-bottom: 14px;
	margin-left:4px;
}

.dashboard .info-msg p {
	color:#000;
	float:left;
	padding-right: 20px;
	clear: both;
}


.dashboard i.ss-info {
	font-size: 18px;
	color: #000;
	position: relative;
	top: 3px;
	padding-right: 15px;
	padding-left: 15px;
}

.dashboard .info-msg h1 {
	font-family: "OpenSansbold";
	font-size: 13px;
	color:#000;
	text-align: left;
	float:left;
}


/*-----------------------------------------------------------------------------------------------------------

 Footer

-----------------------------------------------------------------------------------------------------------*/
.footer{
	position: fixed;
	bottom:0px;
	width: 100%;
	display: none;
	z-index: 800;

	background: #E8E8E8;
	-webkit-transition: 0.2s;
	transition: 0.2s;

}
.footer.ignore{
	bottom: -50px;
}
.footer .size {
	height: 50px;
	width: 25%;
	float:left;
	text-align: center;
	padding-top: 10px;
	background: #2a2a2a;
}
.footer i {
	font-size: 28px;
	color:#fff;
}

.footer .active {
	background: #dc1d35;
}

/*-----------------------------------------------------------------------------------------------------------

 Search

-----------------------------------------------------------------------------------------------------------*/
.not-valid .ui-input.error,
.not-valid .valid {
	border:none;
} 
.not-valid .ui-input.error i {
	display: none;
} 
.ui-input i.ss-search {
	left: 15px;
	right: initial;
	top: 5px;
	color:#8b8b8b;
}

.not-valid i.valid {
	display: none;
}

#location {
	padding-left: 40px;
	padding-right: 15px;
}

.results {
	background:#fff;
	padding: 10px;
	text-align: left;
	position: relative;
	top:-13px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom: 1px solid #e3e3e3;
}
ul.results {
	display: none;
	position: absolute;
	top: 39px;
	z-index: 999;
	width: 100%;
}
ul.results li {
	list-style: none; 
	font-size: 13px;
	color: #8b8b8b;
	margin-bottom: 5px;
	padding: 5px 0;
}
ul.results li:last-child,
ul.results li:first-child {
	padding: 0;
}
 
/*-----------------------------------------------------------------------------------------------------------

 Maps

-----------------------------------------------------------------------------------------------------------*/

#map {
	width: 100%;
	position: relative;
}  
#map img {
	width: 100%;
	border-radius:7px;
	margin:0;
	position: relative;

}

/*-----------------------------------------------------------------------------------------------------------

 Splash

-----------------------------------------------------------------------------------------------------------*/

#splash {
  background: url(../../images/bg-splash.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#splash img {
	width: 180px;
}

#splash .head-btn {
	width: 135px;
}

#splash p {
	font-family: "OpenSansSemiboldItalic";
	color:#fff;
}

#statistics .info-box{
	position: relative;
	top: -60px;
	margin-left: -5px;
	font-family: "OpenSansRegular";
}#statistics .info-box h1,
 #statistics .info-box p{
 	top: 0 !important;
 	text-align: center !important;
}#statistics .info-box h1 {
	font-size: 14px;
	font-family: "OpenSansRegular";
}


#dashboard .info-box h1,
#dashboard .info-box p  {
	text-align: center !important;
}

#dashboard .info-box h1 {
	font-size: 14px;
	font-family: "OpenSansRegular";
}

#dashboard .info-box {
	position: relative;
	top: -90px;
	font-family: "OpenSansRegular";

}

#connected [data-role=content],
#pending [data-role=content],
#invitations [data-role=content],
#statistics [data-role=content] {
	padding-top: 40px;
}
 #invitations .container {
 	margin-bottom: 10px;
 	padding: 2px;
 }
 #dashboard .item{
 	display: block;
 	color: #9C9C9C;
 	border: 2px solid #CACACA;
 }
 .dashboard .item.multiple{
 	margin-bottom: 20px;
 }
 .dashboard .item.multiple:before{
	content: "";
	position: absolute;
	width: 99%;
	bottom: -10px;
	margin-left: 0.2%;
	left: 0;
	height: 5px;
	border: 2px solid #CACACA;
	border-top: 0;
	border-radius: 100px;
	z-index: 0;
 }	.dashboard .item.multiple:after{
 	content: "";
	position: absolute;
	width: 99.5%;
	bottom: -6px;
	left: 0;
	height: 5px;
	border: 2px solid #CACACA;
	border-top: 0;
	border-radius: 100px;
	z-index: 0;
 }


.failed-card{
	text-align: center;
	padding: 15px 0 20px 0;
	border-color: #dc1d35 !important;
	padding-bottom: 35px;
}.failed-card .delete-btn{
	top: 18px;
	right: 11px;
}

.failed-card p, .failed-card h1{
	width: 100% !important;
	text-align: center !important;
	padding: 0 !important;
	margin: 0 !important;
}.failed-card i{
	padding: 0 !important;
	margin: 6px 0 !important;
	color: #F63527 !important;
	font-size: 46px;
	display: block;
}.failed-card .std-btn{
	width: 125px;
	height: 25px;
	margin: -20px 85px;
	margin-top: -7px;
	position: absolute;
	left: 0;
	right: 0;
}
.failed-card h1 ,
.ontime-card h1{
	width: 80% !important;
	text-align: center !important;
	margin: 0 auto !important;

}

.ontime-card{
	text-align: center;
	padding: 15px 0 20px 0;
	border-color: #09DA00 !important;
	padding-bottom: 35px;

}
.ontime-card .delete-btn{
	top: 18px;
	right: 11px;
}

.ontime-card p, .ontime-card h1{
	width: 100% !important;
	text-align: center !important;
	padding: 0 !important;
	margin: 0 !important;
}.ontime-card i{
	padding: 0 !important;
	margin: 6px 0 !important;
	color: #09DA00 !important;
	font-size: 46px;
	display: block;
}.ontime-card .std-btn{
	width: 125px;
	height: 25px;
	margin: -20px 85px;
	margin-top: -7px;
	position: absolute;
	left: 0;
	right: 0;
}
.ontime-card > p ,
.failed-card > p {
	width: 100% !important;
}
  #dashboard .item h1{
 	color: #000;
 	width:73%;
 }

.past:before,.upcoming:before{
	border-color: #06C076 !important;
}.past:after,.upcoming:after{
	border-color: #06C076 !important;
}
.past,.upcoming{
	border-color: #06C076 !important;
}.past .bullet, .upcoming .bullet {
	background: #06C076;
}

.label-bullet{
	border: 1px solid #898989;
	color: #2C2C2C;
	border-radius: 3px;
	padding: 1px 2px;
	font-weight: bold;
	font-size: 10px;
}




 #dashboard .item p{
 	color: #4C4C4C;
 }
 #dashboard .item i{
 	color: #9C9C9C;
 }
#dashboard .item .container{
	position: relative;
}#dashboard .item .container .toggle-icon{
	bottom: 5px;
	right: 12px;
	position: absolute;
	color:#5E5E5E;
	font-size: 19px;
	padding: 0 !important;
}#dashboard .item h1{
	margin-left: 6px;
	margin-top: 7px;
}#dashboard form p{
	width: 100% !important;
}#dashboard form{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}#dashboard form p:nth-child(even){
	background: #FFFFFF;
}#dashboard form p{
	background: #F7F7F7;
}#dashboard form label{
	background: #F7F7F7;
}#dashboard form .radio:nth-child(even) label{
	background: #FFFFFF;
}#dashboard h2{
	text-align: left;
	color: black;
	font-weight: bold;
	font-size: 13px;
	padding-left: 13px;
	padding-bottom: 7px;
	padding-top: 7px;
}#dashboard .done-icon{
	right: 12px;
	color: #06C076;
	position: absolute;
	font-size: 23px;
	top: 50%;
	margin-top: -7px
}#dashboard .done{
	color: #09C751 !important;
	font-weight: bold;
	font-size: 12px !important;
}#dashboard form p{
	position: relative;
}

#dashboard .item i[class^=ss-], #dashboard .item i[class*=' ss-']{
	padding-right: 10px;
}
/*-----------------------------------------------------------------------------------------------------------

 Dummy Hack

-----------------------------------------------------------------------------------------------------------*/
.dummy{
	position: relative;
	width: 100%;
	height: 35px;
	margin-bottom: 11px;
}
.dummy input {
	position:absolute;
	left: 0;
	top: 0;
}
.dummy input[type=date],.dummy input[type=time]{
	z-index: 1;
	visibility: hidden;
}
.dummy input[type=text]{
	z-index: 2;
	pointer-events: none;
}

input[type="email"]:disabled {
	color: #000;
	background: #ECECEC;
}
.reward {
	float:left;
	text-align: left;
	width: 100%;
}

.reward label {
	float: left;
	font-size: 13px;
	word-wrap:break-word;
	text-align: left;
	width: 100%;
    display: inline-block;  
    cursor: pointer;  
    position: relative;
    padding: 10px 0;  
    margin-right: 20px; 
    padding-right: 60px;
}
/*-----------------------------------------------------------------------------------------------------------

 Profile

-----------------------------------------------------------------------------------------------------------*/

#profile .avatar {
	width:130px;
	height: 130px;
	border: 1px solid #E4E4E4;
	background: #FFF;
	-webkit-background-size: cover !important;
	background-repeat:no-repeat;
	background-position: center center;
}

/*canvas{
display: none !important;
}*/

input[type=file]
{
	display: none;
}

i.ss-camera {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size: 60px;
	color: #222;
	line-height: 148px;
}


select {
	direction: rtl;
	-webkit-appearance: none;
	padding-right: 10px;
	unicode-bidi: bidi-override;
}
select option{
	direction: ltr;
	unicode-bidi: bidi-override;
}

.ui-input i  {
	right: inherit;
	left: 10px;
	top: 2px;
	font-size: 12px;
	line-height: 33px;
	color: #5E5E5E;
	font-family: OpenSansSemibold;
}

.ui-input i.ss-dislike,
.ui-input i.ss-like {
	right: 36px;
	left: initial;
	top: 4px;
	font-size: 14px;
}.ui-input a.clr {
	position: absolute;
	right: 12px;
	left: initial;
	top: 10px;
	font-size: 17px;
	color: #ABABAB;
}.ui-input a.clr:after{
    position: absolute;
	display: block;

    content: ' ';
    width: 45px;
    height: 45px;
    top: -10px;
    left: -10px;
}

.full-btn {
	text-align: left;
	padding-left: 10px;
}

.inline-right {
	text-align: right !important;
}
#map .navbar .inline-right a {
	width: 30px;
	height: 30px;
	float: right;
}
a.inline-right {
	padding: 0;
	padding-right: 10px;
}

#piechart {
	width: 310px;
	height: 310px;
	margin:0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}
.stats {
	margin-top: 70px;
}

.month {
	width: 100%;
	position: relative;
	display: table;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 7px;
	background: #222;
	z-index: 2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.month a.ss-navigateleft {
	position: relative;
	float:left;
	color:#fff;
	font-size: 40px;
	top: 6px;
	left: 7px;
}
.month a.ss-navigateright {
	position: relative;
	float:right;
	top: 6px;
	color:#fff;
	right: 7px;
	font-size: 40px;
}

.month div {
	text-align: center;
	width: 100%;
	color:#fff;
	line-height: 52px;
	position: absolute;
	top: 9px;
	margin-left: -10px;
}

.stats p {
	position: relative;
	top: 32px;
	z-index: 2;
}

.selectbox.hide{
	display: none;
}

.hideall{
	display: none;
	}.hideall:before{
display: none;
		}.hideall:after{
display: none;
		}

.edit-a {
	border-radius: 6px !important;
	border: 1px solid #B4B4B4 !important;
	width: 100% !important;
	border-style: inherit !important;
	border-style: dashed !important;
	text-align: left !important;
	font-size: 13px !important;
	background: #FFF !important;
	color: #3D3D3D !important;
}

.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.m-l {
	margin-left: 20px;

}

.toggle-btn.z
{
	background: none;
	border: 1px solid #fff;
	color: #fff;
}

.feed .item .bullet
{
	width: auto;
	padding: 0 5px;
}
.item .bullet
{
	width: 64px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 9px;
	font-weight: bold;
	margin-top: 11px;
	position: absolute;
	top: -4px;
	right: 10px;
	border-radius: 3px !important;
}
.item .bullet.pending
{
	background: #6B5FFF;	
}.item .bullet.action
{
	background: #dc1d35;	
}.item .bullet.approved
{
	background: #5E5E5E;	
}
.pulse{
	z-index: 10;
	top: -12px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	border:2px solid #aaa;
	width: 65px;
	height: 65px;
	-webkit-backface-visibility: hidden;
	
	-webkit-transform-style: preserve-3d;

	-webkit-animation:pulse-anim-border infinite 1.8s; /* Safari and Chrome */
}


@-webkit-keyframes pulse-anim-border /* Safari and Chrome */
{
	0% {-webkit-transform: scale(0.3) translate3d(0,0,0); border-color: #aaa;}
	100% {-webkit-transform: scale(0.7) translate3d(0,0,0); border-color: transparent;}
}

@-webkit-keyframes pulse-anim-color /* Safari and Chrome */
{
	0% {color: #dc1d35;}
	50% {color: #aaa;}
	100% {color: #dc1d35;}
}

@-webkit-keyframes pulse-anim-background /* Safari and Chrome */
{
	0% {background: #dc1d35;}
	50% {background: #aaa;}
	100% {background: #dc1d35;}
}

.h-bth {
	margin: 0 !important;
	border: none;
	border-radius: 6px !important;
	border-bottom: 1px solid #E3E3E3 !important;
	width: 100% !important;
	height: 35px !important;
	padding: 20px 45px 20px 10px !important;
	margin-bottom: 5px !important;
	outline: none !important;
	font-size: 13px !important;
	background: #F5F5F5;
	color: #3D3D3D !important;
	line-height: 5px;
	text-align: left;
}
#invitations .item,
#pending .item,
#connected .item{
	-webkit-box-shadow: inset 0 0 0 2px #CACACA;
}

.p-b-1 {
	padding-bottom: 5px; 
}

#reward .rounded {
	margin: 0;
	margin-top: 20px;
}

.submit-title-btn{
	display: none;
}.prev-title-btn{
	display: none;
}

.google-visualization-tooltip {  
     background: none !important;
     border:none !important;
     box-shadow: none !important;
     position: absolute !important;
} 


#createevent .form-section{
	display: none;
}#createevent .form-section.current{
	display: block;
}#createevent .form-section .info-box h1{
	display: none;
}
#createevent .ui-input i.ss-dislike, .ui-input i.ss-like{
	display: none;
}

.google-visualization-tooltip-item {
    font-family: "OpenSansRegular" !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: normal !important;
    padding: 10px 20px !important;
    margin:0!important;
    top: -20px !important;
    left:-80px !important;
    right: 0 !important;
    text-align: center !important;
    width: 130px !important;
    position: absolute !important;
    background: #797979 !important;
    border-radius: 4px !important;
}
.google-visualization-tooltip-item > span {
    font-family: "OpenSansRegular" !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: normal !important; 
    display: inline-block !important;
    margin: 0 !important;
    text-align: center !important;

}
.google-visualization-tooltip-item span:first-child{
    margin-right: 5px !important;
}
.google-visualization-tooltip-item  span:first-child:first-letter { 

}
.google-visualization-tooltip-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 52px;
    left: 60px; 
    width: 0; 
    height: 0;
    margin-left:-10px;
    margin-top:-10px;
     
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #797979;
}

.modal-holder .info-box {
	text-align: center;
}

#map [data-role=content] {
	width: 100% !important;
}

.gm-style-iw {
	text-align: left;
	overflow: visible !important;
	width: 260px; 
	min-height: 95px;
	position: relative !important;
	-webkit-transform: translate3d(0,0,0);
}
.gm-style-iw h1 {
	font-weight: bolder;
}
.gm-style-iw span {
	color: #000;
}
.gm-style-iw .ss-icon {
	pointer-events: none;
	right: -30px;
	width: 25px;
	top: 0;
	height: 25px;
	font-size: 17px;
	background: #FFF;
	overflow: visible;
	color: #dc1d35;
	z-index: 10001;
	position: absolute;
}
.gm-style-iw > {
	overflow: visible !important;
}
.gm-style-iw + div img {
 visibility: hidden;
}
.gm-style-iw + div {
	overflow: visible !important;
	z-index: 2 !important;
	opacity:0 !important;
	display: none !important;
}


.progressbar{
 width: 100%;
 height: 64px;
 text-align: left;
}

.progressbar .step{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    
    background: #E2E2E2;
    display: inline-block;
    margin-right: 44px;
    position: relative;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: 600;
    text-indent: 1px;
    color: #999;
}
.progressbar .step:after{
    width: 44px;
    height: 4px;
   background: #E2E2E2;
    content: " ";
    position: absolute;
    display: block;
    right: -46px;
    top: 7px;
}


.progressbar .step:last-of-type{
margin-right: 0;
	top: -6px !important;
	line-height: 23px !important;
}.progressbar .step:last-of-type:after{
display: none;
}
.progressbar .step.done{
 background: #dc1d35;
 color: #fff;
 
}
.progressbar .step.done:after{
 background: #dc1d35;
 width: 50px;
 right: -50px;
 
}
.progressbar .step.active{
 background: #fff;
 color: #dc1d35;
box-shadow: inset 0 0 0 3px #dc1d35
 
}
.progressbar .step:first-of-type,
.progressbar .step:last-of-type
{
    width: 23px;
    height: 23px;
    top: 2px;
}
.progressbar .step:first-of-type:after,
.progressbar .step:last-of-type:after{
  top: 9px;
}
#tos .navbar h1 {
	position: absolute;
	left: 0;
	margin: 0 auto;
	right: 0;
	z-index: -1;
}
#rewards .info-box {
	width: 290px;
	text-align: left;
	position: absolute;
	background: #F5F5F5;
	left: 0;
	right: 0;
	z-index: 4;
	top: 110px;
	text-align: center;
}
#rewards .info-box h1 {
	margin-top: 30px;
}

#rewards .rounded {
	box-shadow: none;
	width: 100%;
	margin: 0;
	margin-top: 20px;
}
#rewards .item .r div.trophy:first-child {
	color: #CCC;
	font-size: 20px;
	text-align: center;
	padding-top: 4px;
}
#rewards .item .received > .r div.trophy:first-child {
	color:#09da00;
}
#rewards .item .not-received > .r div.trophy:first-child {
	color:#ef221d;
}

.figjam  .ui-input i.ss-dislike,
.figjam  .ui-input i.ss-like {
	right: 15px !important;
}

.modal i.reminder {
	left:20px !important;
}

.figjam2  .ui-input i.ss-dislike {
	right: 15px !important;
}

.r > .x-15 {
	width: 121px !important;
		padding-right: 0;

}

